@using TextMatch.Models
@model TextSearchViewModel
@{
    ViewBag.Title = "Text Match";
}
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Enter a Text and Search Text to find all possible matches.</h1>
                <hr />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.LongText, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.LongText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LongText, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchText, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SearchText, "", new { @class = "text-danger" })
                    </div>
                </div>
                if (ViewBag.IsResultFound != null && (bool)ViewBag.IsResultFound)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Result, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DisplayFor(m => m.Result, new { @class = "form-control", })
                        </div>
                    </div>

                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Find Matches" class="btn btn-primary" />
                    </div>
                </div>


            }
        </section>

    </div>



</div>
